.team-card-container {
    display: flex;
    justify-content: center;
    align-items: center;

    .main-card {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin: 20px 20px 20 20;
        padding:20px;

        img {
            border-radius: 50%;
        }

        // new
        body {
            font-family: tahoma;
            height: 100vh;
            background-image: url(https://picsum.photos/g/3000/2000);
            background-size: cover;
            background-position: center;
            display: flex;
            align-items: center;
        }
    }
}
