.SolutionSection{
    h2 {
      margin: 20px 0px 15px 0px;
      text-align: right
    }
    .solutionseccopy{
      display: flex;
      justify-content: space-evenly;
      img {
        border: 1px dotted black;
        margin: 20px 0px 15px 0px;
      }
        p {
        padding: 20px;
        font-size: 18px;
      }
    }
}