.ResourceSection{
    h2 {
        margin: 20px 0px 15px 20px;
    }
    .resourcecopy{
        display: flex;
        justify-content: space-evenly;
        img {
        border: 1px dotted black;
        margin: 0px 0px 15px 20px;
      }
        p {
        padding: 20px;
        font-size: 18px;
      }
    }
}